body{
    background-color: gray;
}

.main{
    display: flex;
    justify-content: center;
}

.tile{
    width: 250px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.image{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 10px;
    
}

.tile:hover{
    background-color: rgba(0, 0, 0, 0.495);
}


.title{
    position: relative;
    right:60px;
    color: white;
    /* background-color: rebeccapurple; */
}

.info{
    word-break: break-all;
    width: 200px;
    height: 50px;
    color: white;
    /* margin-left: 8px; */
    position: relative;
    /* background-color: red; */
}


.inside{
    width: 400px;
    height: 550px;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.upper{
    display: flex;
}

.cover{
    width: 70px;
    height: 70px;
    background-color: red;
    margin: 15px;
    border-radius: 10px;
}

.bottom-buttons{
    margin: 20px;
    display: flex;
    justify-content: right;
}

.bottom-buttons>button{
    margin: 10px;
}

.details>h1{
    margin: 10px;
}


.inside:hover{
    background: linear-gradient(white,black);
    color: black;
}
